<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Channel</th>
      <th scope="col">Seasons</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of series">
      <th scope="row">{{s.id}}</th>
      <td (click)="onSelected(s)">{{s.nombre}}</td>
      <td>{{s.canal}}</td>
      <td>{{s.temporadas}}</td>
    </tr>
  </tbody>
</table>
<p>Seasons average: 6</p>
<div class="row p-2">
  <div class="col border">
    <div *ngIf="selected">
      <app-serie-detail [serieDetail]="selectedSerie"></app-serie-detail>
    </div>
  </div>
</div>
